<script type="text/javascript">
<!--
	function SaveData() {
		var emp_code = $('#emp_code').val();
		var resnum = $('#resnum').val();
		var endtime = $('#end_time').val();	
		//var grade_a = $('#grade_a').val();
		//var grade_b = $('#grade_b').val();
		//var grade_c = $('#grade_c').val();	
		//var WGradeA = $('#Uf_WGradeA').val();
		//var WGradeB = $('#Uf_WGradeB').val();
		//var WGradeC = $('#Uf_WGradeC').val();
		//var scrap = $('#scrap').val();
		if (endtime == "") {
			
		} else {
			if (emp_code == '') {
				popup('กรุณาระบุรหัสพนักงาน');
				$('#emp_num').focus();
			} else if (resnum == '') {
				popup('กรุณาระบุรหัสเครื่องจักร');
				$('#resid').focus();
			} else {
				/*if (grade_a == '' || grade_b == '' || grade_c == '') {
					alert('กรุณาใส่ค่าลงในช่อง ถ้าไม่ทราบให้ใส่ 0');
				} else {
					if (grade_c > 0 && scrap == '') {
						alert('กรุณาเลือกเหตุผล');
					} else if (grade_a > 0 && WGradeA == '')	{
						alert('กรุณาใส่น้ำหนัก');
						$('#Uf_WGradeA').focus();
					} else if (grade_b > 0 && WGradeB == '')	{
						alert('กรุณาใส่น้ำหนัก');
						$('#Uf_WGradeB').focus();
					} else if (grade_c > 0 && WGradeC == '')	{
						alert('กรุณาใส่น้ำหนัก');
						$('#Uf_WGradeC').focus();
					} else {*/
						$.post("./module/unposted_c_save.php", $("#form1").serialize(), function(data) {
							//alert(data);
							//$('#txtError').val(data);
							//location.reload(true);
							//window.location.href = '?scan_jobOrder_end';
							if (data == "11") {
								//popupgoto("บันทึกข้อมูลเสร็จสมบูรณ์",'?scan_jobOrder_end')
								//window.location.href = '?scan_jobOrder_end';
								popup("บันทึกข้อมูลเสร็จสมบูรณ์")
								location.reload(true);
							} else {
								popup(data);
								return false;
							}
						}, 'html');	
					/*}
				}*/
			}
		}		
	}
	
	function ValidateEmp(e) {		
		var keycode;
		var data1;		
		if (window.event) keycode = window.event.keyCode; //  IE
		else if (e) keycode = e.which; //  Firefox 		
		if (keycode == 13) {
			var emp_num = $('#emp_num').val();
			$.post("./module/validate_employee.php", {"emp_num": emp_num}, function(data) {				
				if (data) {		
					//alert(data);
					data1 = data.split('||');					
					$('#emp_code').val(data1[0]);
					$('#emp_name').val(data1[1]);		
					$('#shift').val(data1[2]);	
					if (data1[0] != '') {
						$("#emp_img").attr("src","./image/no-image.png");
						$("#resid").prop("disabled", false);		
						$("#resid").removeClass('ui-state-disabled');
						$("#resid").focus();
					} else {
						$("#resid").prop("disabled", true);								
						$("#resid").addClass('ui-state-disabled');
						$("#emp_num").select();
						popup('ไม่พบข้อมูลพนักงานที่ระบุ');
					}
				} 
			}, 'html');			
			return false;
		}	
	}
	
	function ValidateRes(e) {		
		var keycode;
		var data1;		
		if (window.event) keycode = window.event.keyCode; //  IE
		else if (e) keycode = e.which; //  Firefox 		
		if (keycode == 13) {
			var resid = $('#resid').val();
			$.post("./module/validate_res.php", {"resid": resid}, function(data) {				
				if (data) {		
					//alert(data);
					data1 = data.split('||');					
					$('#resnum').val(data1[0]);
					$('#descr').val(data1[1]);											
					if (data1[0] != '') {
						$.post("./module/clockin_save.php", $("#form1").serialize(), function(data2) {
							//$('#txtError').val(data2);	
							//popup(data2);
							if (data2 == "insok") {
								//popupgoto('บันทึกเวลาเข้างานเรียบร้อย','?scan_jobOrder_start&linkcmd=clockin_job');								
								//window.location.href = '?scan_jobOrder_start&linkcmd=clockin_job';
								popupgoto("บันทึกข้อมูลเสร็จสมบูรณ์",'?clockin_job&jobno={job_nou}');
							} else if (data2 == "clockinlaw") {
								//popupgoto("ท่านได้ทำการบันทึกเวลาเข้างานไปแล้ว",'?scan_jobOrder_start&linkcmd=clockin_job');
								//window.location.href = '?scan_jobOrder_start&linkcmd=clockin_job';
								popupgoto('<span class="red">ท่านได้ทำการบันทึกเวลาเข้างานไปแล้ว กรุณาบันทึกผลผลิตหรือใช้รหัสพนักงานอื่น</span>','?clockin_job&jobno={job_nou}');								
							} else {
								popup(data2);
							}
						}, 'html');							
					} else {
						$("#resid").select();
						popup('ไม่พบข้อมูลเครื่องจักรที่ระบุ');
					}
				}
			}, 'html');			
			return false;
		}	
	}	
	
	function back() {
		window.location.href = '?scan_jobOrder_start&linkcmd=clockin_job';
	}

//-->
</script>
<!-- <textarea name="txtError" cols="60" rows="6" id="txtError"></textarea>  -->
<form id="form1" name="form1" method="post" action="">
<table width="100%" border="0" cellspacing="1" cellpadding="5" class="font14">
	<tr>
		<td valign="top"><fieldset class="fieldstyle"><legend class="font12"><strong>ข้อมูล Job</strong></legend>
				<table width="100%" border="0" cellspacing="0" cellpadding="5" class="font14">
					<tr>
					  <td width="18%" align="right">Job Order: </td>
					  <td><input name="job_no" type="text" id="job_no" size="20" class="default_view" readonly value="{job_no}">
						<input name="sp" type="text" id="sp" size="7" class="default_view" readonly value="0000"></td>
					</tr>
					<tr>
					  <td align="right">Item:</td>
					  <td><input name="item" type="text" id="item" size="40" class="default_view" readonly value="{item}"></td>
					</tr>
					<tr>
					  <td align="right">&nbsp;</td>
					  <td><input name="item_desc" type="text" id="item_desc" size="54" class="default_view" readonly value={item_desc}></td>
					</tr>
					<tr>
					  <td align="right">Operation:</td>
					  <td><input name="oper_num" type="text" id="oper_num" size="5" class="default_view" readonly value="{oper_num}">
						&nbsp; WC:
						  <input name="wc" type="text" id="wc" size="8" class="default_view" readonly value="{wc}">
						<input name="description" type="text" id="description" size="30" class="default_view" readonly value="{description}"></td>
					</tr>
					<tr>
					  <td height="10" colspan="2" align="right"></td>
					  </tr>
					<tr>
					  <td align="right">Trans. Date: </td>
					  <td><input name="trans_date" type="text" id="trans_date" size="15" class="default_view" readonly value="{trans_date}" style="text-align:center;"></td>
					</tr>
					<tr>
					  <td>&nbsp;</td>	
					  <td><fieldset class="fieldstyle" style="background-color:#ccff99; width:150px; font16"><legend class="font12"><strong>Start Time:</strong></legend>
							<input name="start_time" type="text" id="start_time" size="15" class="default_view" readonly value="{start_time}">
						</fieldset></td>
					</tr>					
				  </table></fieldset></td>
	
		<td valign="top"><fieldset class="fieldstyle"><legend class="font12"><strong>สแกนบาร์โค้ตพนักงาน</strong></legend> <table width="100%" border="0" cellspacing="0" cellpadding="15" class="font14">
			<tr>
				<td align="center"><strong>รหัสพนักงาน:</strong> 
				  <input name="emp_num" type="text" id="emp_num" class="default" style="width:300px" onKeyup="ValidateEmp();" autofocus><br>
				  <br><input name="emp_code" type="text" id="emp_code" style="width:150px" class="default_view" readonly>              
					  <input name="emp_name" type="text" id="emp_name" style="width:400px" class="default_view" readonly>
					  <input name="shift" type="hidden" id="shift" value="{shift}"></td>
			</tr>
		</table></fieldset>
		<br>
		<fieldset class="fieldstyle"><legend class="font12"><strong>สแกนบาร์โค้ตเครื่องจักร</strong></legend>
		<table width="100%" border="0" cellspacing="0" cellpadding="15" class="font14">
			<tr>
				  <td align="center"><strong>รหัสเครื่องจักร:</strong> 
				  <input name="resid" type="text" id="resid" class="default ui-state-disabled" style="width:300px" onKeyup="ValidateRes();" disabled><br><br>
				  <input name="resnum" type="text" id="resnum" style="width:150px" class="default_view" readonly>              
					  <input name="descr" type="text" id="descr" style="width:400px" class="default_view" readonly></td>
			 </tr>
		</table></fieldset> </td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input name="Save" type="button" id="Save" value="กลับไปหน้าแสกน" onClick="back();" class="ui-button ui-widget ui-corner-all"></td>
	</tr>
</table>
</form>