<style type="text/css">
<!--
.ui-button{  
	font-size: 18px !important; 
}

input[type='checkbox'] {
    width: 25px;
    height: 25px;        
}
-->
</style>
<script type="text/javascript">
<!--
	$(document).ready(function() {
      $('#tblist tr').click(function(event) {		 		
        if (event.target.type !== 'checkbox') {			
          $(':checkbox', this).trigger('click');
        }
      });
    });	

	function FindId(e) {
		var keycode;
		if (window.event) keycode = window.event.keyCode; //  IE
		else if (e) keycode = e.which; //  Firefox 		
		if (keycode == 13) {
			$("#formS").submit();			
		}
	}

	function PrintTag() {		
		var tag_ids = [];		
		//var chk = 0;
		$("input:checkbox[name=line]:checked").each(function(){
			tag_ids.push($(this).val());
			//chk = 1;
		});
		//alert(tag_ids);
		if (tag_ids != "") {
			$('#printpopup').dialog({
				modal: true,
				autoOpen: true,
				show: 'fade',
				width: 800,
				height: 400,
				title: "ตัวอย่างก่อนพิมพ์"
			})
			.load("./module/print_tag_coil.php", {"tag_ids": tag_ids});
		} else {
			popup('<font size="18" color="#ff0000">กรุณาเลือกข้อมูลก่อน</font>');
		}
		
		return false;
	}	

	function CheckAllItem(){        
		var checkboxes = document.getElementById('tblist').getElementsByTagName('input');
		//alert(checkboxes.length);
		if(top.document.getElementById('allitem').checked == true){
			for(i=0;i<checkboxes.length;i++){
				checkboxes[i].checked = true;
			} 
		}else{
			for(i=0;i<checkboxes.length;i++){
				checkboxes[i].checked = false;
			} 
		}
	}
//-->
</script>
<form name="formS" method="post" action="" id="formS">
<table width="98%" border="0" cellspacing="0" cellpadding="5" align="center">
  <tr>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="5">
			<tr>
			<td align="center">GRN: <input name="grn_num" type="text" id="grn_num" value="{grn_num}" class="default" size="25" onKeyup="FindId(this);" autofocus/>&nbsp;&nbsp;
			Lot: <input name="lot" type="text" id="lot" value="{lot}" class="default" size="25" onKeyup="FindId(this);" autofocus/></td>
			</tr>
	</table>
  </td></tr>
  <tr>    
    <td><div style='overflow:auto; height:380px;'><table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#6f6f6f" class="font14" id="tblist">
      <tr bgcolor="#c4e1ff">
        <td align="center" width="2%"><input name="allitem" type="checkbox" id="allitem" value="1" onclick="CheckAllItem();"></td>
		<td align="center"><strong>No</strong></td>
        <td align="center"><strong>GRN</strong></td>
        <td align="center"><strong>Po.</strong></td>
		<td align="center"><strong>Lot</strong></td> 
        <td align="center"><strong>Vendor</strong></td>	
		<td align="center"><strong>Item</strong></td>        	
        <td align="center"><strong>Spec</strong></td> 
		<td align="center"><strong>Qty ship</strong></td>
	    <td align="center"><strong>Qty receive</strong></td>
        <td align="center"><strong>U_M</strong></td>
        </tr>
		{list}
    </table></div>
	<table width="100%" border="0" cellpadding="5" cellspacing="0" class="font14">
		<tr>
			<td align="center"><input name="print_tag" type="button" id="print_tag" value=" ปริ้น Tag " class="ui-button ui-widget ui-corner-all" onClick="PrintTag();"></td>
		</tr>
	</table></td>
  </tr>  
</table>
</form>
<div id="printpopup"></div>
<script type="text/javascript">
<!--
	$(document).ready(function() {
      $('#grn_num').select();
    });
//-->
</script>