<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" class="font14" bgcolor="#ffffff" background="./template/image/bg/{businessType}/bg.jpg" style="background-repeat:no-repeat">
	<tr>			
		<td align="center" valign="middle" >&nbsp;</td>
		<!-- <td align="center" bgcolor="F7F7F7" class="ibutton tdover" onclick="gotolink('?open_sales');"><img src="./template/image/menu/opensales.gif" border="0" /><BR>Open Sales</td>
		<td align="center" bgcolor="F7F7F7" class="ibutton tdover" onclick="gotolink('?sales');"><img src="./template/image/menu/sales.gif" border="0" /><BR>Sales Order</td>
		<td align="center" bgcolor="F7F7F7" class="ibutton tdover" onclick="gotolink('?sales_report_menu');"><img src="./template/image/menu/sales_report.gif" border="0" /><BR>Sales Report</td> -->
	</tr>
</table>
<!-- {test} E6DBF2 -->