<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script type="text/javascript">
    $(document).ready(function () {
        pageHtml = "reset_tag_status";
        if (pageHtml == "reset_tag_status"){
            $.confirm({
                title: 'กรุณาใส่ Password',
                theme: 'modern',
                content: '<input placeholder="" type="password" id="Pass" class="form-control" name="Pass" value="" autofocus>',
                buttons: {
                    confirm: function checked() {
                        var Pass = $("#Pass").val();
                        // console.log('P ',Pass);
                        if (Pass == 'lot1'){
                            $(".hide").removeClass("hide");
                            window.close();
                        }else{
                            $('#Pass').attr('placeholder','Password ไม่ถูกต้อง');
                            $("#Pass").val('');
                            return false;
                        }
                    }, 
                    cencel: function close() {
                       window.location.href = "/sts_tag";
                    }
                }
            });
        }
    });

    function ValidateJob(e) {
        //alert('xx');
        var keycode;
        if (window.event) keycode = window.event.keyCode; //  IE
        else if (e) keycode = e.which; //  Firefox 		
        if (keycode == 13) {
            var tag_id = $('#tag_id').val();
            $.ajax({
                url: `./module/reset_tag_id_shiped_get_tag.php?tag_id=${tag_id}`,
                dataType: 'json',
                type: 'get',
                contentType: 'application/json',
                processData: false,
                success: function (data, textStatus, jQxhr) {
                    if (data) {
                        console.log(data)
                        $("#data_tag_id").html(data.id)
                        $("#data_job").html(data.job)
                        $("#data_item").html(data.item)
                        $("#data_lot").html(data.lot)
                        $("#data_qty1").html(data.qty1)
                        $("#data_active").val(data.active)
                        $("#notfound").hide();

                    } else {
                        $("#notfound").show();
                        $("#tag_id").select();
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });

            return false;
        }
    }

    function LinkUnpost() {
        var tag_id = $('#tag_id').val();
        var data_active = $('#data_active').val();
        let updateVal = ""
        if (data_active == '1') {
            updateVal = "0"
        } else {
            updateVal = "1"
        }
        $.ajax({
            url: `./module/reset_tag_status_api.php?tag_id=${tag_id}&updateVal=${updateVal}&load=update`,
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                if (data) {
                    console.log(data,'')
                    $("#data_tag_id").html(data.id)
                    $("#data_active").val(data.active)
                    $("#notfound").hide();

                } else {
                    $("#notfound").show();
                    $("#tag_id").select();
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function clearTextInput(){
        $("#tag_id").val("")
        $("#tag_id").focus()
    }

</script>
<br>
<br>
<div id="reset_tag_status"></div>
<div class="row hide">
    <div class="col-xs-12">
        <table width="100%" border="0" cellspacing="0" cellpadding="10" class="font18 green" autocomplete="off">
            <tr>
                <td align="center"><strong>สแกน Tag id</strong></td>
            </tr>
            <tr>
                <td align="center" class="red">&nbsp;<span id="notfound"
                        style="display:none;">ไม่พบข้อมูลที่ต้องการค้นหา</span>&nbsp;</td>
            </tr>
            <tr>
                <td align="center"><input name="tag_id" type="text" id="tag_id" value="" class="tag_id" autocomplete="off"
                    readonly onclick="this.removeAttribute('readonly');"
                        onKeyup="ValidateJob();" autofocus>
                        <button class="ui-button ui-widget ui-corner-all " id="timeWork" onClick="clearTextInput();"
                        type="button"> รีเซท </button></td>
                <td align="center">
                    
                </td>
            </tr>
            <tr>
                <td>.</td>
            </tr>
            <tr>
                <table class="table table-bordered">
                    <tr>
                        <th>Tag Id</td>
                        <th>Job</td>
                        <th>item</td>
                        <th>Lot</td>
                        <th>จำนวน</td>
                        <th>Active</td>
                        <th>เปลี่ยนสถานะ tag</td>
                    </tr>
                    <tr>
                        <td>
                            <span id="data_tag_id"></span>
                        </td>
                        <td>
                            <span id="data_job"></span>
                        </td>
                        <td>
                            <span id="data_item"></span>
                        </td>
                        <td>
                            <span id="data_lot"></span>
                        </td>
                        <td>
                            <span id="data_qty1"></span>
                        </td>
                        <td>
                            <input readonly type="text" id="data_active">
                        </td>
                        <td align="center">
                            <button class="ui-button ui-widget ui-corner-all " id="timeWork" onClick="LinkUnpost();"
                                type="button"> เปลี่ยนสถานะ </button>
                        </td>
                    </tr>

                </table>
                <span style="color:red">** Active 0 = ลบ Tag **</span>
            </tr>

        </table>
    </div>
    <div class="col-xs-6">
    </div>
</div>