<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script type="text/javascript">
<!--
    /*$(document).ready(function() {
     $('#tblist tr').click(function(event) {
     if (event.target.type !== 'checkbox') {			
     $(':checkbox', this).trigger('click');
     }
     });
     });	*/
    

    $(document).ready(function(){
        var checkCoP = $('#checkCoP').val();
        var check = encodeURIComponent(checkCoP);
        console.log(check)

          if (checkCoP == ""){
            $('#print_a').show();
        }else {
            $('#print_a').hide();
        }

        var refresh = window.localStorage.getItem('refresh');
        console.log(refresh);

        localStorage.removeItem('refresh')

        setTimeout(function() {
        if (refresh===null){
            window.location.reload();
            window.localStorage.setItem('refresh', "1");
        }
        }, 100); // 100 milliseconds = 0.1 seconds

    });

    function LinkTagA() {
        var jobno = $('#job_no').val();
        var uri_enc = encodeURIComponent(jobno);
        window.location.href = '?tag_barcode&jobno=' + uri_enc + '&grade=A';
    }
    function LinkTagB() {
        var jobno = $('#job_no').val();
        var uri_enc = encodeURIComponent(jobno);
        window.location.href = '?tag_barcode&jobno=' + uri_enc + '&grade=B';
    }
    function LinkTagC() {
        var jobno = $('#job_no').val();
        var uri_enc = encodeURIComponent(jobno);
        window.location.href = '?tag_barcode&jobno=' + uri_enc + '&grade=C';
    }
    function LinkTagS() {
        var jobno = $('#job_no').val();
        var uri_enc = encodeURIComponent(jobno);
        window.location.href = '?tag_slit&jobno=' + uri_enc + '&grade=S';
    }
    function LinkTagR() {
        var jobno = $('#job_no').val();
        var uri_enc = encodeURIComponent(jobno);
        window.location.href = '?tag_barcode&jobno=' + uri_enc + '&grade=R';
    }

    function DeleteTag(tag_id) {
        var r = confirm("ยืนยันการลบข้อมูล ?");
        if (r == true) {
            $.post("./module/tagBarcode_delete.php", {"tag_id": tag_id}, function (data) {
                location.reload(true);
                //alert(data);
                return false;
            }, 'html');
        }
    }

    function inpActiveLine(id) {
      $.confirm({
      title: 'กรุณาใส่ Password',
      theme: 'modern',
      boxWidth: '30%',
      useBootstrap: false,
      content: '<input placeholder="" type="password" id="Pass" class="form-control" style="padding: 10px" size="30" name="Pass" autofocus>',
      buttons: {
        confirm: function checked() {
          var Pass = $("#Pass").val();
    
          
          if (Pass == 5404) {
            $.post("./module/tag_check.php", {"tag_id": id, "inspector": 5404}, function (data) {
             window.location.reload();
          })
          } else if (Pass == 8105) {
            $.post("./module/tag_check.php", {"tag_id": id, "inspector": 8105}, function (data) {
             window.location.reload();
            })
          } else if (Pass == 8113) {
            $.post("./module/tag_check.php", {"tag_id": id, "inspector": 8113}, function (data) {
             window.location.reload();
            })
          } else if (Pass == 8139) {
            $.post("./module/tag_check.php", {"tag_id": id, "inspector": 8139}, function (data) {
             window.location.reload();
            })
          } else if (Pass == 8192) {
            $.post("./module/tag_check.php", {"tag_id": id, "inspector": 8192}, function (data) {
             window.location.reload();
            })
          } else if (Pass == 8202) {
            $.post("./module/tag_check.php", {"tag_id": id, "inspector": 8202}, function (data) {
             window.location.reload();
            })
          } else if (Pass == 8222) {
            $.post("./module/tag_check.php", {"tag_id": id, "inspector": 8222}, function (data) {
             window.location.reload();
            })
          } else if (Pass == 8236) {
            $.post("./module/tag_check.php", {"tag_id": id, "inspector": 8236}, function (data) {
             window.location.reload();
            })
          } else if (Pass == 8237) {
            $.post("./module/tag_check.php", {"tag_id": id, "inspector": 8237}, function (data) {
             window.location.reload();
            })
          } else if (Pass == 8238) {
            $.post("./module/tag_check.php", {"tag_id": id, "inspector": 8238}, function (data) {
             window.location.reload();
            })
          } else {
            $('#Pass').attr('placeholder', 'Password ไม่ถูกต้อง');
            $("#Pass").val('');
            return false;
          }
        },
        cancel: function close() {
          window.close()
        }
      }
    });
    }

    function PrintTag() {
        var jobno = $('#job_no').val();
        var uri_enc = encodeURIComponent(jobno);
        var tag_ids = [];
        //var chk = 0;
        $("input:checkbox[name=line]:checked").each(function () {
            tag_ids.push($(this).val());
            //chk = 1;
        });
        //alert(tag_ids);
        if (tag_ids != "") {
            $('#printpopup').dialog({
                modal: true,
                autoOpen: true,
                show: 'fade',
                width: 400,
                height: 600,
                title: "ตัวอย่างก่อนพิมพ์"
            })
                    .load("./module/tag_print.php", {"job_no": uri_enc, "tag_ids": tag_ids});
        } else {
            alert('กรุณาเลือกข้อมูลก่อน');
        }

        return false;
    }

    function PrintTagSlit() {
        var tag_ids = [];
        //var chk = 0;
        $("input:checkbox[name=line]:checked").each(function () {
            tag_ids.push($(this).val());
            //chk = 1;
        });
        //alert(tag_ids);
        if (tag_ids != "") {
            $('#printpopup2').dialog({
                modal: true,
                autoOpen: true,
                show: 'fade',
                width: 800,
                height: 300,
                title: "ตัวอย่างก่อนพิมพ์"
            })
                    .load("./module/print_tag_slit.php", {"tag_ids": tag_ids});
        } else {
            alert('กรุณาเลือกข้อมูลก่อน');
        }

        return false;
    }

    function inpEditLine(id, qty1, wg) {
        $("#d_qty_" + id).html('<input name="qty1" type="text" id="qty1" style="width:100%" class="default" value="' + qty1 + '">');
        $("#d_w_" + id).html('<input name="uf_act_Weight" type="text" id="uf_act_Weight" style="width:100%" class="default" value="' + wg + '">');
        $("#d_sts_no_" + id).html('<input name="edt_sts_no" type="text" id="edt_sts_no" style="width:100%" class="default" value="' + sts_no + '">');
        $("#edit_b_" + id).hide();
        $("#edit_c_" + id).show();
    }

    function scEditLine(id, qty1, wg) {
        var qty = $("#qty1").val();
        var wg = $("#uf_act_Weight").val();
        var sts_no2 = $("div[id='d_sts_no_" + id + "'] #edt_sts_no").val();
        $.post("./module/tagBarcode_edit.php", {"tag_id": id, "qty1": qty, "uf_act_Weight": wg}, function (data) {
            location.reload(true);
            //alert(data);
            //$("#d_qty_"+id).html(qty);
            //$("#d_w_"+id).html(wg);
            return false;
        }, 'html');
        //$("#edit_b_"+id).show();	
        //$("#edit_c_"+id).hide();	
    }
//-->

function saveOperation() {
    let w_c = $('#wc').val();
    let operationWeight = $('#operationWeight').val();
    let operationTime = $('#operationTime').val();
    let job = $('#job_no').val().split("+");
    let operationJob = job[0]
    let operationItem = $('#item').val() 


        // console.log(operationJob)
        // console.log(w_c)
        // console.log(operationWeight)
   
        $.ajax({
                url: "./module/tag_FM_SaveOperation.php",
                type: 'get',
                // processData: false,
                data: {
                "load": "save",
                "w_c": w_c,
                "operationJob": operationJob,
                "operationItem": operationItem,
                "operationWeight": operationWeight,
                "operationTime": operationTime
                },
                success: function () {
                    // alert("true");
                }
            });
        }

</script>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="2" class="font14">
                <tr>
                    <td align="right">Job Order: </td>
                    <td><input name="job_no" type="text" id="job_no" size="20" class="default_view" readonly value="{job_no}">
                        <input name="sp" type="text" id="sp" size="7" class="default_view" readonly value="0000"></td>
                        <input hidden name="checkCoP" type="text" id="checkCoP" size="20" class="default_view" readonly value="{checkCoP}">
                </tr>
                <tr>
                    <td align="right">Customer Order: </td>
                    <td><input name="co_no" type="text" id="co_no" size="20" class="default_view" readonly value="{co_no}">
                </tr>
                <tr>
                    <td align="right">Uf Ref. No.</td>
                    <td><input name="uf_ref_no" type="text" id="uf_ref_no" size="20" class="default_view" readonly value="{Uf_refno}">
                        น้ำหนักท่อชั่งจริง:
                        <input name="operationWeight" type="text" id="operationWeight" size="7" class="default_view" value="{operationWeight}" onchange="saveOperation();">
                </tr>
                <tr>
                    <td align="right">Customer name</td>
                    <td><input name="custname" type="text" id="custname" size="20" class="default_view" readonly value="{custname}">
                        ความเร็วในการเดินเครื่อง:
                        <input name="operationSpeed" type="text" id="operationSpeed" size="7" class="default_view" readonly value="{operationSpeed}">
                    </td>
          
                </tr>
                <tr>
                    <td align="right">City</td>
                    <td><input name="city" type="text" id="city" size="20" class="default_view" readonly value="{city}">
                        เดินเครื่องจริง:
                        <input name="operationTime" type="text" id="operationTime" size="7" class="default_view"  value="{operationTime}" onchange="saveOperation();">   
                </tr>
                <tr>
                    <td align="right">Item:</td>
                    <td><input name="item" type="text" id="item" size="32" class="default_view" readonly value="{item}">
                    </td>
                </tr>
                <tr>
                    <td align="right"> </td>
                    <td><input name="item_desc" type="text" id="item_desc" size="53" class="default_view" readonly value={item_desc}></td>
                </tr>
                <tr>
                    <td align="right">Operation:</td>
                    <td><input name="oper_num" type="text" id="oper_num" size="5" class="default_view" readonly value="{oper_num}">
                        &nbsp;&nbsp;WC:
                        <input name="wc" type="text" id="wc" size="7" class="default_view" readonly value="{wc}">
                        <input name="description" type="text" id="description" size="25" class="default_view" readonly value="{description}"></td>
                </tr>
                <tr>
                    <td align="right">Remark</td>
                    <td><input name="Uf_remark" type="text" id="Uf_remark" size="53" class="default_view" readonly value="{Uf_remark}"> </td>
                </tr>
                <tr>
                    <td align="right">Qty Issued:</td>
                    <td><input name="qty_issued" type="text" id="qty_issued" size="7" class="default_view" readonly value="{qty_issued}"> {matl_um}.</td>
                </tr>      
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="2" class="font14">
                <tr>
                    <td align="right">ยอดสั่งผลิต</td>
                    <td><input name="qty_released" type="text" id="qty_released" value="{qty_released}" size="7" class="default_view" readonly>
                        เส้น</td>
                    <td><input name="weight_released" type="text" id="weight_released" value="{weight_released}" size="9" class="default_view" readonly>
                        KG.</td>
                    <td><input name="pack_released" type="text" id="pack_released" value="{pack_released}" size="7" class="default_view" readonly>
                        มัด</td>
                </tr>
                <tr>
                    <td colspan="4" height="10"><hr></td>
                </tr>
                <tr>
                    <td align="right"><strong>Grade A</strong> </td>
                    <td><input name="qty1_a" type="text" id="qty1_a" value="{qty1_a}" size="7" class="default_view" readonly>
                        เส้น</td>
                    <td><input name="qty2_a" type="text" id="qty2_a" value="{qty2_a}" size="9" class="default_view" readonly>
                        KG.</td>
                    <td><input name="uf_pack_a" type="text" id="uf_pack_a" value="{uf_pack_a}" size="7" class="default_view" readonly>
                        มัด</td>
                </tr>
                <tr>
                    <td align="right"><strong>Grade B</strong> </td>
                    <td><input name="qty1_b" type="text" id="qty1_b" value="{qty1_b}" size="7" class="default_view" readonly>
                        เส้น</td>
                    <td><input name="qty2_b" type="text" id="qty2_b" value="{qty2_b}" size="9" class="default_view" readonly>
                        KG.</td>
                    <td><input name="uf_pack_b" type="text" id="uf_pack_b" value="{uf_pack_b}" size="7" class="default_view" readonly>
                        มัด</td>
                </tr>
                <tr>
                    <td align="right"><strong>Grade C</strong> </td>
                    <td><input name="qty1_c" type="text" id="qty1_b" value="{qty1_c}" size="7" class="default_view" readonly>
                        เส้น</td>
                    <td><input name="qty2_c" type="text" id="qty2_c" value="{qty2_c}" size="9" class="default_view" readonly>
                        KG.</td>
                    <td><input name="uf_pack_c" type="text" id="uf_pack_c" value="{uf_pack_c}" size="7" class="default_view" readonly>
                        มัด</td>
                </tr>
                <tr>
                    <td align="right"><strong>Grade R</strong> </td>
                    <td><input name="qty1_r" type="text" id="qty1_r" value="{qty1_r}" size="7" class="default_view" readonly>
                        เส้น</td>
                    <td><input name="qty2_r" type="text" id="qty2_r" value="{qty2_r}" size="9" class="default_view" readonly>
                        KG.</td>
                    <td><input name="uf_pack_r" type="text" id="uf_pack_r" value="{uf_pack_r}" size="7" class="default_view" readonly>
                        มัด</td>
                </tr>
                <tr>
                    <td align="right"><strong>รวม</strong></td>
                    <td><input name="total_qty1" type="text" id="total_qty1" value="{total_qty1}" size="7" class="default_view" readonly>
                        เส้น</td>
                    <td><input name="total_qty2" type="text" id="total_qty2" value="{total_qty2}" size="9" class="default_view" readonly>
                        KG.</td>
                    <td><input name="total_pack" type="text" id="total_pack" value="{total_pack}" size="7" class="default_view" readonly>
                        มัด</td>
                </tr>
                <tr>
                    <td align="right"><strong>qty mat</strong></td>
                    <td>
                        <input name="qty_mat" type="text" id="qty_mat" value="{qty_mat}" size="7" class="default_view" readonly>
                    </td>
                    <td align="right"><strong>qty mat Purchase</strong></td>
                    <td>
                        <input name="qty_mat_r" type="text" id="qty_mat" value="{qty_mat_r}" size="7" class="default_view" readonly>
                    </td>
<td></td>
<td></td>
                </tr>
            </table></td>
        <td width="60%" rowspan="3" valign="top"><div style='overflow:auto; height:450px;'><table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#6f6f6f" class="font14" id="tblist">
                    <tr bgcolor="#c4e1ff">
                        <td align="center" width="2%"><strong>#</strong></td>
                        <td align="center"><strong>Tag no.</strong></td>
                        <td align="center"><strong>Lot</strong></td>
                        <td align="center"><strong>HeatNo</strong></td>
                        <td align="center" width="10%"><strong>เส้น/กิโล</strong></td>
                        <td align="center" width="11%"><strong>น้ำหนักจริง</strong></td>
                        <td align="center" width="9%"><strong>มัด/แถบ</strong></td>
                        <td align="center" width="7%"><strong>Grade</strong></td>
                        <td align="center" width="7%"><strong>สถานะ</strong></td>
                        <td align="center" width="13%"><strong>วันที่</strong></td>
                        <!-- <td align="center" width="9%"><strong>โดย</strong></td> -->
                        <td width="2%"> </td>
                        <td width="10%">ตรวจสอบ</td>
                    </tr>
                    {list}		
                </table></div>
            <table width="100%" border="0" cellpadding="5" cellspacing="0" class="font14">
                <tr>
                    <td align="center"><input name="print_tag" type="button" id="print_tag" value=" พิมพ์ซ้ำ " class="ui-button ui-widget ui-corner-all" onClick="{funcprint}
                            ();"> <!-- <input name="del_tag" type="button" id="del_tag" value=" ลบ Tag " class="ui-button ui-widget ui-corner-all" onClick="DeleteTag();"> --></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" ><input name="print_a" type="button" id="print_a" value="พิมพ์ A" class="ui-button ui-widget ui-corner-all" onClick="LinkTagA();">
            <input name="print_b" type="button" id="print_b" value="พิมพ์ B" class="ui-button ui-widget ui-corner-all" onClick="LinkTagB();">
            <!--<input name="print_c" type="button" id="print_c" value="พิมพ์ B" class="ui-button ui-widget ui-corner-all" onClick="LinkTagC();">-->
            <!--<input name="print_r" type="button" id="print_r" value="พิมพ์ R" class="ui-button ui-widget ui-corner-all" onClick="LinkTagR();"></td>-->
    </tr>
</table>
<div id="printpopup"></div>
<div id="printpopup2"></div>