<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>.: STS - SL WEB APP :.</title>
<link rel="SHORTCUT ICON" href="./image/STS_Logo.ico" />

<script type="text/javascript" src="./js/menu.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<link rel="stylesheet" href="./css/emx_nav.css" type="text/css">
<link rel="stylesheet" href="./css/main.css" type="text/css">
<!-- jQuery UI -->
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/jquery-ui.js"></script>
<link type="text/css" href="./css/jquery-ui.css" rel="stylesheet" />	

<script type="text/javascript">
<!--
var time = 3000;
var numofitems = 9;
window.onload = tick;
// -->
</script>
</head>
<body>
<div id="masthead">
  <h1 id="siteName">SAHA THAI STEEL PIPE PCL.</h1>
</div>
<!-- end masthead -->
<div id="pagecell1" style="top: 50px;">
  <!--pagecell1-->
  
  <!-- <a href="#">Breadcrumb</a> / <a href="#">Breadcrumb</a> / <a href="#">Breadcrumb</a> -->
  <div id="breadCrumb"><a href="./?main_menu"><img src="./image/Menu.png" border="0" align="absmiddle" alt="Main Menu"></a><strong> {crumb} {pagename}</strong></div>
  <div id="pageName"></div><div id="datetimeNav">{datebar}<span id="Clock"></span></div>
  <div id="content">
	{content}
  </div>
  
</div>
<!--end pagecell1-->

<div id="ShowProcessing"></div>
</body>
</html>
