<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
http://172.18.1.194:5000/app/moveItem
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body style="margin:0px;padding:0px;overflow:hidden">
        <iframe src="http://172.18.1.194:5000/app/moveItem" frameborder="0" style="overflow-x:hidden;height:92vh;width:100%" height="100" width="100%"></iframe>
    </body>
    
</html>
